<h3>Vault</h3>
<hr>
<a
    class="toggle-view"
    [class.grid]="isGrid"
    [class.list]="!isGrid"
    href="#" 
    (click)="toggleView($event)">
    <svg class="list-view" viewBox="0 0 1024 1024"><use xlink:href="icons.svg#view_list"></use></svg>
    <svg class="grid-view" viewBox="0 0 1024 1024"><use xlink:href="icons.svg#view_module"></use></svg>
    
    Toggle view
</a>
<hr>
<ul [class.grid]="isGrid" [class.list]="!isGrid">
    <li class="header">
        <div>Title</div>
        <div>Username</div>
        <div>Password</div>
        <div>Website</div>
    </li>
    <li *ngFor="let row of vault">
        <div>{{ row.title }}</div>
        <div>{{ row.identity }}</div>
        <div class="password" [hidden]="row.showPass" (click)="row.showPass = true">********</div>
        <div class="password" [hidden]="!row.showPass" (click)="row.showPass = false">{{ row.credential }}</div>
        <div>{{ row.urlRaw }}</div>
    </li>
</ul>
