ul {
    margin: 0 0 2em 0;
    padding: 0;
    list-style: none;
}

li {
    width: 100%;
    overflow: auto;
}

.header {
    font-weight: bold;
    background: #333;
    color: #fff;
}

div {
    box-sizing: border-box;
    float: left;
    padding: 5px;
    width: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li:nth-child(odd):not(.header) {
    background: #eef6ff;
}

li:not(.header):hover {
    background: #eee;
}

.password {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}
