<ul [class.open]="navigationStatus">
    <li class="collapse">
        <a href="#" (click)="collapse($event)">
            <svg viewBox="0 0 1024 1024"><use xlink:href="icons.svg#keyboard_arrow_right"></use></svg>
            <span>Collapse</span>
        </a>
    </li>
    <li class="passwords">
        <a routerLink="/dashboard" routerLinkActive="active">
            <svg viewBox="0 0 1024 1024"><use xlink:href="icons.svg#laptop_windows"></use></svg>
            <span>Sites</span>
        </a>
    </li>
    <li class="accounts">
        <a routerLink="/accounts" routerLinkActive="active">
            <svg viewBox="0 0 1024 1024"><use xlink:href="icons.svg#people"></use></svg>
            <span>Accounts</span>
        </a>
    </li>
    <li class="profile">
        <a routerLink="/profile" routerLinkActive="active">
            <svg viewBox="0 0 1024 1024"><use xlink:href="icons.svg#person"></use></svg>
            <span>Profile</span>
        </a>
    </li>
    <li class="logout">
        <a (click)="logout($event)" href="#">
            <svg viewBox="0 0 1024 1024"><use xlink:href="icons.svg#lock"></use></svg>
            <span>Logout</span>
        </a>
    </li>
</ul>
