.wrapper {
    min-height: 600px;
    height: 100vh;
}

h2 {
    margin: 0;
}

.heading {
    height: 50px;
    padding: 0;
    background: #00263E;
    line-height: 50px;
    margin: -20px -20px 20px -20px;
    text-indent: 20px;
    color: #fff;
    position: relative;
    font-size: 30px;
    background: url('/assets/images/ownpass-logo.png') 20px center no-repeat #00263E;
    background-size: auto 70%;
}

.mainmenu,
.content {
    height: 100vh;
    min-height: 600px;
    box-sizing: border-box;
}

.mainmenu {
    width: 60px;
    background: #15B588;
    overflow: hidden;
    position: absolute;
    transition: width .25s ease-in-out;
}

.mainmenu.open {
    width: 160px;
}

.content {
    margin-left: 60px;
    padding: 20px;
    transition: margin .25s ease-in-out;
}

.mainmenu.open + .content {
    margin-left: 160px;
}


/* Some media query's to make the app more mobile friendly */

@media screen and (max-width: 700px) {
    .mainmenu {
        width: 80%;
        left: -700px;
        overflow: visible;
        transition: left .5s;
        z-index: 1;
    }
    
    .content {
        margin-left: 0;
    }

    .heading {
        margin-left: 40px;
        z-index: 2;
    }

    .open.mainmenu {
        left: 0;
        width: 80%;
    }

    .mainmenu.open + .content {
        margin-left: 0;
    }
}