<div class="wrapper">
    <nav class="mainmenu" [class.open]="navigationStatus">
        <ownpass-navigation
            [toggleNavigation]="toggleNavigation"
            [navigationStatus]="navigationStatus">
        </ownpass-navigation>
    </nav>

    <div class="content">
        <div class="heading"></div>
        <h2 *ngIf="isEdit === true">Edit Account</h2>
        <h2 *ngIf="isEdit !== true">Create Account</h2>

        <div [hidden]="submitted">
            <form (ngSubmit)="onSubmit()" #accountForm="ngForm">
                <p>
                    <label for="name">Name</label>

                    <input type="text"
                           name="name"
                           id="name"
                           #name="ngModel"
                           [(ngModel)]="account.name">
                </p>

                <ul class="error" [hidden]="!errors || !errors.name || errors.name.length === 0">
                    <li *ngFor="let msg of errors?.name">
                        {{msg}}
                    </li>
                </ul>

                <p>
                    <label for="emailAddress">E-mail address</label>
                    <input type="text"
                           name="emailAddress"
                           id="emailAddress"
                           [(ngModel)]="account.email_address">
                </p>

                <ul class="error" [hidden]="!errors || !errors.email_address || errors.email_address.length === 0">
                    <li *ngFor="let msg of errors?.email_address">
                        {{msg}}
                    </li>
                </ul>

                <p>
                    <label for="role">Role</label>
                    <select id="role" name="role" [(ngModel)]="account.role">
                        <option *ngFor="let r of roles" [value]="r.key">{{r.label}}</option>
                    </select>
                </p>

                <ul class="error" [hidden]="!errors || !errors.role || errors.role.length === 0">
                    <li *ngFor="let msg of errors?.role">
                        {{msg}}
                    </li>
                </ul>

                <div *ngIf="isEdit === true && account.status == 'invited'">
                    <p>
                        <label for="status">Status</label>
                        <span>Invited</span>
                    </p>

                    <ul class="error" [hidden]="!errors || !errors.status || errors.status.length === 0">
                        <li *ngFor="let msg of errors?.status">
                            {{msg}}
                        </li>
                    </ul>
                </div>

                <div *ngIf="isEdit === true && account.status != 'invited'">
                    <p>
                        <label for="status">Status</label>
                        <select id="status" name="status" [(ngModel)]="account.status">
                            <option *ngFor="let s of statusList" [value]="s.key">{{s.label}}</option>
                        </select>
                    </p>

                    <ul class="error" [hidden]="!errors || !errors.status || errors.status.length === 0">
                        <li *ngFor="let msg of errors?.status">
                            {{msg}}
                        </li>
                    </ul>
                </div>

                <p>
                    <button type="submit" [disabled]="!accountForm.form.valid">Submit</button>
                </p>
            </form>
        </div>

        <div [hidden]="!submitted">
            <p *ngIf="isEdit === true">The account has been updated.</p>
            <p *ngIf="isEdit !== true">The account has been created.</p>
        </div>
    </div>
</div>
