textarea,
input {
    height: 50px;
    border: 1px solid #00263e;
    box-shadow: none;
    font-size: 30px;
    border-radius: 0;
    font-family: inherit;
    -webkit-appearance: none;
    color: #00263e;
    line-height: 50px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

textarea {
    resize: none;
    height: 150px;
}

label {
    font-size: 18px;
    display: inline-block;
    margin: 0;
    background: #00263e;
    color: #fff;
    padding: 2px 10px;
    letter-spacing: 1px;
}

.form-group {
    margin: 0 0 20px 0;
}