.wrapper {
    height: calc(100vh - 40px);
    min-height: 600px;
    width: 100%;
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
    background-color: #fff;
}

h2 {
    margin: 0;
}

.heading {
    height: 50px;
    padding: 0;
    background: #f00;
    line-height: 50px;
    text-indent: 20px;
    color: #fff;
}

.mainmenu,
.content {
    height: calc(100vh - 90px);
    min-height: 550px;
    box-sizing: border-box;
}

.mainmenu {
    width: 160px;
    background: #eee;;
    position: absolute;
    height: calc(100vh - 90px);
}
.content {
    margin-left: 160px;
    padding: 20px;
}
