<div class="wrapper">
    <nav class="mainmenu" [class.open]="navigationStatus">
        <ownpass-navigation
            [toggleNavigation]="toggleNavigation"
            [navigationStatus]="navigationStatus">
        </ownpass-navigation>
    </nav>
    
    <div class="content">
        <div class="heading">OwnPass</div>
        <h2>Accounts</h2>
        <p>
            <a routerLink="/accounts/create">Create Account</a>
        </p>

        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Role</th>
                <th>Status</th>
                <th>Options</th>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts">
                    <td>{{account.id}}</td>
                    <td>{{account.name}}</td>
                    <td><a href="mailto:{{account.email_address}}">{{account.email_address}}</a></td>
                    <td>{{account.role}}</td>
                    <td>{{account.status}}</td>
                    <td>
                        <a routerLink="/accounts/edit/{{account.id}}">Edit</a>
                        -
                        <a (click)="deleteAccount(account)" >Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <p>
            <a routerLink="/accounts/create">Create Account</a>
        </p>
    </div>
</div>